<div class="list-group list-group-flush">
  <a class="list-group-item" th:href="@{/templates/admin/dashboard}">Dashboard</a>
  <a class="list-group-item" th:href="@{/templates/admin/users}">Users</a>
  <a class="list-group-item" th:href="@{/templates/admin/shops}">Shops</a>
  <a class="list-group-item" th:href="@{/templates/admin/products}">Products</a>
  <a class="list-group-item" th:href="@{/templates/admin/orders}">Orders</a>
  <a class="list-group-item" th:href="@{/templates/admin/disputes}">Disputes</a>
  <a class="list-group-item" th:href="@{/templates/admin/withdraws}">Withdraws</a>
</div>
